<!DOCTYPE html>
<html lang="en">
  <%- include("partials/head") %>
  <body>
    <%- include("partials/nav") %>
    <section class="container">
      <h4 class="center-align add-menu-title">Add Your Menu</h4>
      <div class="row">
        <div class="col s12 m6 offset-m3">
          <form action="/" method="POST">
            <div class="row">
              <div class="input-field col s12">
                <select name="menuCategory">
                  <option value="" disabled selected>Choose your option</option>
                  <option value="1">Heavy Meal</option>
                  <option value="2">Light Meal</option>
                  <option value="3">Veggie Base</option>
                  <option value="4">Meat Base</option>
                  <option value="5">Sides</option>
                  <option value="6">Drinks</option>
                </select>
                <label>Menu Category</label>
              </div>
              <div class="input-field col s12">
                <input
                  id="menuImage"
                  type="text"
                  class="validate"
                  name="menuImage"
                />
                <label for="menuImage">Image URL</label>
              </div>
              <div class="input-field col s12">
                <input
                  id="menuName"
                  type="text"
                  class="validate"
                  name="menuName"
                />
                <label for="menuName">Name</label>
              </div>
              <div class="input-field col s12">
                <input
                  id="menuPrice"
                  type="text"
                  class="validate"
                  name="menuPrice"
                />
                <label for="menuPrice">Price</label>
              </div>

              <div class="input-field col s12">
                <textarea
                  name="menuDesc"
                  id="menuDesc"
                  class="materialize-textarea"
                ></textarea>
                <label for="menuDesc">Menu Description</label>
              </div>
            </div>

            <button class="btn center-align">Submit</button>
          </form>
        </div>
      </div>
    </section>
    <%- include("partials/jquery") %>
  </body>
</html>
