<section class="container hide-on-small-only">
  <div class="carousel carousel-slider center">
    <div class="carousel-item red white-text" href="#one!">
      <h2>What To Eat?</h2>
      <p class="white-text">
        Pick your menu and we will deliver it to you!
      </p>
    </div>
    <div class="carousel-item amber white-text" href="#two!">
      <h2>Afraid To Go Outside?</h2>
      <p class="white-text">We will deliver right in front of your door.</p>
    </div>
  </div>
</section>
