<section>
  <div class="container">
    <div class="row">
      <div class="col m2 s4 card__box">
        <div class="card z-depth-0">
          <div class="card-image category-img-box">
            <img src="https://iluminasi.com/img/upload/nasi-arab.jpg" alt="" />
            <span class="card-title"
              ><a href="#heavymeals" class="white-text">Heavy Meals</a></span
            >
          </div>
        </div>
      </div>
      <div class="col m2 s4 card__box">
        <div class="card z-depth-0">
          <div class="card-image category-img-box">
            <img
              src="https://sifu.unileversolutions.com/image/en-MY/recipe-topvisual/2/1260-709/chicken-satay-50476539.jpg"
              alt=""
            />
            <span class="card-title"
              ><a href="#lightmeals" class="white-text">Light Meals</a></span
            >
          </div>
        </div>
      </div>
      <div class="col m2 s4 card__box">
        <div class="card z-depth-0">
          <div class="card-image category-img-box">
            <img
              src="https://farm8.staticflickr.com/7384/15933766684_731d94bccc.jpg"
              alt=""
            />
            <span class="card-title"
              ><a href="#veggie" class="white-text">Veggie</a></span
            >
          </div>
        </div>
      </div>
      <div class="col m2 s4 card__box">
        <div class="card z-depth-0">
          <div class="card-image category-img-box">
            <img
              src="https://resepiz.com/wp-content/uploads/2019/05/Resepi-Ayam-Bakar-Madu.jpg"
              alt=""
            />
            <span class="card-title"
              ><a href="#meat" class="white-text">Meat</a></span
            >
          </div>
        </div>
      </div>
      <div class="col m2 s4 card__box">
        <div class="card z-depth-0">
          <div class="card-image category-img-box">
            <img
              src="https://www.butterkicap.com/wp-content/uploads/2019/07/Butterkicap-Kuih-Muih-1024x596.jpg"
              alt=""
            />
            <span class="card-title"
              ><a href="#sides" class="white-text">Sides</a></span
            >
          </div>
        </div>
      </div>
      <div class="col m2 s4 card__box">
        <div class="card z-depth-0">
          <div class="card-image category-img-box">
            <img
              src="https://www.banquet-in-a-box.co.uk/wp-content/uploads/2018/08/d-1800x1000.jpg"
              alt=""
            />
            <span class="card-title"
              ><a href="#drinks" class="white-text">Drinks</a></span
            >
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
